apex/force-app/main/default/flows/Delete_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>singleAccount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formulaAccName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!singleAccount.Name}, &apos;Apex&apos;, &apos;Ahmet&apos;)</expression>
    </formulas>
    <interviewLabel>Delete Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Account</label>
    <loops>
        <name>singleAccount</name>
        <label>singleAccount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>multiAcc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updated_Acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>multiAcc</name>
        <label>multiAcc</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>singleAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>loop</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updated_Acc</name>
        <label>Updated Acc</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>UpdatedAcc</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>multiAcc</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>phoneNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedAcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
