apex/force-app/main/default/flows/Fake_loop_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ASSIGNMENT</name>
        <label>ASSIGNMENT</label>
        <locationX>745</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_how_many</name>
        <label>check how many</label>
        <locationX>527</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>ASSIGNMENT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ELSE</defaultConnectorLabel>
        <rules>
            <name>is_how_many</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>how_many_times</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Screen</targetReference>
            </connector>
            <label>is how many equal counter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fake loop flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Fake loop flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Counter_screen</name>
        <label>Counter screen</label>
        <locationX>651</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_how_many</targetReference>
        </connector>
        <fields>
            <name>textCounter2</name>
            <fieldText>&lt;p&gt;how many times={!how_many_times}&lt;/p&gt;&lt;p&gt;counter ={!Counter}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_Screen</name>
        <label>Last Screen</label>
        <locationX>574</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Last Screen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;how many= {!how_many_times}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;counter = {!Counter}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr1</name>
        <label>scr1</label>
        <locationX>272</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_how_many</targetReference>
        </connector>
        <fields>
            <name>how_many_times</name>
            <dataType>Number</dataType>
            <fieldText>how many times</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>scr1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
