apex/force-app/main/default/flows/Loop_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Account_Name_Change</name>
        <label>Account Name Change</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loop_Account_List.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LowerFormul</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Account_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Account_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>LowerFormul</name>
        <dataType>String</dataType>
        <expression>Lower({!loop_Account_List.Name})</expression>
    </formulas>
    <interviewLabel>Loop Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop Account</label>
    <loops>
        <name>loop_Account_List</name>
        <label>loop Account List</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>getRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Name_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loop_Elements_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecords</name>
        <label>getRecords</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Account_List</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loop_Elements_0</name>
        <label>Update Loop Elements</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>NewAccList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecords</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewAccList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
