apex/force-app/main/default/flows/Test_flow_for_the_class.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AccAssignment</name>
        <label>AccAssignment</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccGetLoop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccUppFormul</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewListAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccGetLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccGetLoop</targetReference>
        </connector>
    </assignments>
    <description>this is just a test</description>
    <environments>Default</environments>
    <formulas>
        <name>AccUppFormul</name>
        <dataType>String</dataType>
        <expression>Upper({!AccGetLoop.Name})</expression>
    </formulas>
    <interviewLabel>Test flow for the class {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test flow for the class</label>
    <loops>
        <name>AccGetLoop</name>
        <label>AccGetLoop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>AccRecordGet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccUpper</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccRecordGet</name>
        <label>AccRecordGet</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccGetLoop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccUpper</name>
        <label>UpdateAccUpper</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>NewListAcc</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AccRecordGet</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewListAcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
